<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multiply.esl_interface.v1.web.mapper.oracle.OracleMapper">

    <!-- V_TETPLU_ESL 조회 -->
    <select id="selectVTetpluEslList" resultType="List">
        /* OracleMapper.selectVTetpluEsl */
        SELECT
            STORE_CODE
            , PLU_CODE
            , PRICE_SECT
            , START_DATE
            , END_DATE
            , MD_CODE
            , PUM_CODE
            , EVENT_SECT
            , CLASS_CODE
            , PLU_NAME
            , CURR_SAL_PRICE
            , GOODS_SECT
            , MG_RATE
            , TAX_FLAG
            , SYS_DATE
            , SYS_TIME
            , ORIGIN_NAME
            , NOR_SAL_PRICE
            , CONTENTS_QTY
            , DISPLAY_UNIT_NAME
            , DISPLAY_UNIT_QTY
            , DEAL_GUBN
            , ORIGIN_CODE
            , BRAND_NAME
            , CATE_CODE
            , CATE_NAME
            , MOD_DATE
            , MOD_TIME
            , MOD_EMPNO
            , IF_DATE
            , IF_TIME
            , IF_EMPNO
            , DISPLAY_UNIT_PRICE
            , SELLNG_PNT
            , GOOS_AUTH_IMG
            , WINE_SUGR_CONT
            , WINE_BODY
            , WINE_KIND
            , WINE_EVAL_1
            , WINE_EVAL_2
            , WINE_EVAL_3
            , WINE_PLOR
            , WINE_ITEM_KIND
            , WINE_VINT
            , MOBL_CUP_GOOS_YN
            , LAYOUT_GUBN_1
            , LAYOUT_GUBN_2
            , '' AS PLOR_ORIGIN_NAME
            , '' AS QR_CODE
            , CONCAT(CONTENTS_QTY, DISPLAY_UNIT_NAME) AS CONTENTS_QTY_UNIT
            , CASE
                WHEN CONTENTS_QTY IS NOT NULL AND CONTENTS_QTY > 0 THEN
                  CASE
                    WHEN TRIM(DISPLAY_UNIT_NAME) = 'ml' THEN ROUND((CURR_SAL_PRICE/CONTENTS_QTY) * 100)
                    WHEN TRIM(DISPLAY_UNIT_NAME) = 'L' THEN ROUND((CURR_SAL_PRICE/CONTENTS_QTY) * 1000 * 100)
                    ELSE NULL
                   END
                ELSE NULL
               END AS COMBINE_DISPLAY_UNIT_PRICE
        FROM
            V_TETPLU_ESL
        WHERE STORE_CODE = '14'
          AND MOD_DATE = DATE_FORMAT(now(), '%Y-%m-%d')
    </select>

    <!-- V_TETRPL_ESL 조회 -->
    <select id="selectVTetrplEslList" parameterType="string" resultType="Hashmap">
        /* OracleMapper.selectVTetrplEsl */
        SELECT
            STORE_CODE
             , PLU_CODE
             , PRICE_SECT
             , START_DATE
             , END_DATE
             , MD_CODE
             , PUM_CODE
             , EVENT_SECT
             , CLASS_CODE
             , PLU_NAME
             , CURR_SAL_PRICE
             , GOODS_SECT
             , MG_RATE
             , TAX_FLAG
             , SYS_DATE
             , SYS_TIME
             , ORIGIN_NAME
             , NOR_SAL_PRICE
             , CONTENTS_QTY
             , DISPLAY_UNIT_NAME
             , DISPLAY_UNIT_QTY
             , DEAL_GUBN
             , ORIGIN_CODE
             , BRAND_NAME
             , CATE_CODE
             , CATE_NAME
             , MOD_DATE
             , MOD_TIME
             , MOD_EMPNO
             , IF_DATE
             , IF_TIME
             , IF_EMPNO
             , DISPLAY_UNIT_PRICE
             , SELLNG_PNT
             , GOOS_AUTH_IMG
             , WINE_SUGR_CONT
             , WINE_BODY
             , WINE_KIND
             , WINE_EVAL_1
             , WINE_EVAL_2
             , WINE_EVAL_3
             , WINE_PLOR
             , WINE_ITEM_KIND
             , WINE_VINT
             , MOBL_CUP_GOOS_YN
             , LAYOUT_GUBN_1
             , LAYOUT_GUBN_2
        FROM
            V_TETRPL_ESL
        WHERE STORE_CODE = '14'
    </select>

</mapper>
